<html>
  <head>
    <title>Space Station Tracker</title>
  </head>
  <body>
    <div class="position">
      Current Location of the International Space Station : <br />
      Latitiude : <%= data.iss_position.latitude %> <br />
      Longitude : <%= data.iss_position.longitude %>
    </div>
  </body>
</html>
